#boule{
    text-decoration: none;
}
body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(66, 14, 14);
   
    border: 1px solid rgb(252, 227, 158);
}
h2, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(66, 14, 14);
}
img{
    height: 200px;
    width: auto;
}
aside{
    float: right;
}
aside+p{
    text-align: center;
    color: green;
}