body{
   
    background-repeat:no-repeat;
   background-size: cover;
    background-image: url(../asset/fresh-nature-leaves-pattern-background-design_1017-36618.jpg);
    background-color: rgba(255, 235, 205, 0.434);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(66, 14, 14);
}
img{
    height: 200px;
    width: auto;
}